{%  extends 'base.html' %}
{% block scripts %}
{{ super() }}
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../static/js/datatables.min.js"></script>
<script src="../static/js/datatables.rowsGroup.js"></script> -->
<script>

    $(document).ready(function () {
        let fakeTable = $('#fake').DataTable({
            searching: false, paging: false, info: false,
            dom: 'Bfrtip',
            buttons: [
                {
                    title: 'CartList',
                    extend: 'csvHtml5',

                },
                {
                    title: 'CartList',
                    extend: 'excelHtml5',

                },
                {
                    title: 'CartList',
                    extend: 'pdfHtml5',

                },
                {
                    title: 'CartList',
                    text: 'TSV',
                    extend: 'csvHtml5',
                    fieldSeparator: '\t',
                    extension: '.tsv',

                },
            ]
        });
        let table = $('#cart').DataTable();
    })
    var modal = document.getElementById("myModal");
    var span = document.getElementsByClassName("close")[0];
    span.onclick = function (e) {
        modal.style.display = "none";
        location.reload();
    }
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
            location.reload();
        }
    }
    function openModal(item) {
        modal.style.display = "block";
        $('#spinner').show().css('text-align', 'center')
        $('#vendorResult').show().css('text-align', 'center')
        $.getJSON('/vendorModal/' + item.id, (json_data) => {
            if (json_data == 'null') {
                $('#spinner').hide()
                $('#vendorResult1').html('No vendors found.')
                $('#vendorResult2').html('Sorry for the inconvenience!')
            }
            else {
                $('#spinner').hide()
                $('#vendorResult').hide()
                //CLEARING TABLE AND DRAWING AGAIN 
                $('#chooseVendors').html('')
                let $tr = $('<tr class="info">')
                $('<th>').html('No').appendTo($tr)
                $('<th>').html('Catalog name').appendTo($tr)
                $('<th>').html('Supplier code').appendTo($tr)
                $('<th>').html('Shipping').appendTo($tr)
                $('<th>').html('Price').appendTo($tr)
                $('<th>').html('Currency').appendTo($tr)
                $('<th>').html('Pack quantity').appendTo($tr)
                $('<th>').html('Unit').appendTo($tr)
                $('<th>').html('Purchase quantity').appendTo($tr)
                $('#chooseVendors').append($tr)

                //ADDING ROWS 
                $.each(json_data, (v, vendor) => {
                    let $tr = $("<tr>").attr('id', v)
                    $('<td>').attr('rowspan', vendor.packs.length + 1).html(v + 1).appendTo($tr);
                    $('<td>').attr('rowspan', vendor.packs.length + 1).attr('id', v + '_cat_name').attr('cat_id_fk', vendor.cat_id_fk).html(vendor.cat_name).appendTo($tr);
                    $('<td>').attr('rowspan', vendor.packs.length + 1).attr('id', v + '_supplier_code').html(vendor.supplier_code).appendTo($tr);
                    $('#chooseVendors').append($tr)
                    $.each(vendor.packs, (p, pack) => {
                        let $tr = $("<tr>").attr('id', v + '_' + p).attr('class', pack.class);
                        $('<td>').html(pack.shipping).appendTo($tr);
                        $('<td>').html(pack.price).appendTo($tr);
                        $('<td>').html(pack.currency).appendTo($tr);
                        $('<td>').html(pack.quantity).appendTo($tr);
                        $('<td>').html(pack.unit).appendTo($tr);
                        let $td = $('<td>')
                        $('<input>').attr('type', 'number').attr('value', pack.purchase_quantity).appendTo($td)
                        $td.appendTo($tr);
                        $('#chooseVendors').append($tr)
                    });

                })
                $('<button>').attr('onclick', 'vendorUpdate(' + item.id + ')')
                    .attr("type", "button")
                    .attr("class", "btn btn-info")
                    .html('Assign').css({ 'margin': '5px' })
                    .insertBefore('#chooseVendors')


            }

        })
        return false;
    }
    function vendorUpdate(item_id) {
        console.log(item_id)
        post_data = []
        let inputs = $('#chooseVendors').find('input')
        $.each(inputs, (i, input) => {
            if ($(input)[0].value > 0) {
                vendor_data = {}
                vendor_data.purchase_quantity = parseInt($(input)[0].value)
                let tr = $(input).parents()[1]
                console.log(tr)
                let children = $(tr).children()
                vendor_data.shipping = $(children[0]).html()
                vendor_data.price = $(children[1]).html()
                vendor_data.currency = $(children[2]).html()
                vendor_data.quantity = $(children[3]).html()
                vendor_data.unit = $(children[4]).html()
                let id = $(tr)[0].id.split("_")[0]
                console.log(id)
                vendor_data.cat_name = $('#' + id + '_cat_name').html()
                vendor_data.cat_id_fk = $('#' + id + '_cat_name').attr('cat_id_fk')
                vendor_data.supplier_code = $('#' + id + '_supplier_code').html()
                console.log(vendor_data)
                post_data.push(vendor_data)
            }
        })
        $.ajax({
            type: "POST",
            url: '/vendorUpdate',
            data: JSON.stringify({ 'post_data': post_data, 'item_id': item_id }),
            contentType: "application/json",
            dataType: 'json',
            success: (res) => {
                console.log(res);
                modal.style.display = "none";
                location.reload();
            }
        });
    }
    function deleteItem(identifier) {
        $.ajax({
            url: '/deleteItem/' + identifier,
            type: 'DELETE',
            success: function (result) {
                console.log(result)
                location.reload();
                // Do something with the result
            }
            /*
            let confirmed = window.confirm("Are you sure to delete this item from cart?")
            if (confirmed) {
                
                }
            */
        });

    }

</script>
{% endblock %}

{% block styles %}
{{ super() }}
<style>
    #order {
        padding: 10px;
        width: 90px;
        float: right;
    }

    #fake {
        display: none;
    }

    /* The Modal (background) */
    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        padding-top: 100px;
        /* Location of the box */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-height: 500px;
        overflow: scroll;
        text-align: center;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    img {
        width: 80%;
        height: 80%;
    }
</style>
{% endblock %}

{%  block app_content %}
<div class="table-responsive">
    <h3>{{current_user.cart_name}} <span class="badge">{{ data | length }}</span></h3>

    <a href="{{url_for('main.punchoutOrder')}}"><button id="order" class="btn btn-info">Order</button></a>


    <table id="fake" class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>Identifier</th>
                <th>Cat_name</th>
                <th>supplier_code</th>
                <th>pack_quantity</th>
                <th>purchase_quantity</th>
                <th>price</th>
            </tr>
        </thead>
        <tbody>
            {% for d in data %}
            {% for v in d.vendors %}
            <tr>
                <td>{{d.identifier}}</td>
                <td>{{v.cat_name}}</td>
                <td>{{v.supplier_code}}</td>
                <td>{{v.pack_quantity}} {{v.unit}}</td>
                <td>{{v.price}} {{v.currency}}</td>
                <td>{{v.purchase_quantity}} pack</td>
            </tr>
            {% endfor %}
            {% endfor %}
        </tbody>
    </table>
    <table id="cart" class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th></th>
                <th>Compound</th>
                <th>Identifier</th>
                <th>Assigned supplier</th>
            </tr>
        </thead>
        <tbody>
            {% for i in data %}
            <tr>
                <td>
                    <button type="button" class="btn btn-info" onclick="deleteItem('{{i.identifier}}')"><span
                            class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                </td>
                <td><img src={{ i.compound_img }}></td>
                <td>
                    <h4>{{ i.identifier }}</h4>
                    <p>({{ i.database }})</p>

                </td>
                <!-- <td class="details-control" data={{i.vendors}}>
                    Click to see assigned vendors
                </td> -->

                <td>
                    <table class="table table-striped table-hover table-bordered">
                        {% for v in i.vendors %}
                        <tr>
                            <td>{{v.cat_name}}</td>
                            <td>{{v.supplier_code}}</td>
                            <td>{{v.pack_quantity}} {{v.unit}}</td>
                            <td>{{v.price}} {{v.currency}}</td>
                            <td>{{v.purchase_quantity}} pack</td>
                        </tr>

                        {% endfor %}
                    </table>


                    <button type="button" class="btn btn-info" id={{i.item_id}} identifier={{i.identifier}}
                        onclick="openModal(this)" style="text-align: right">+</button>
                </td>
            </tr>

            {% endfor %}
        </tbody>
        <!-- <tfoot>
            <tr>
                <th></th>
                <th>Compound</th>
                <th>Identifier</th>
                <th>Assigned supplier</th>
            </tr>
        </tfoot> -->

    </table>
</div>

<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <div id="spinner">
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
            <span class="sr-only">Loading...</span>

        </div>
        <div id="vendorResult">
            <p id="vendorResult1">We are connecting to vendors</p>
            <p id="vendorResult2">Thank you for your patience!</p>
        </div>
        <table id='chooseVendors' style='overflow:hidden' class="table table-striped table-hover table-bordered">
        </table>
    </div>
</div>
{%  endblock %}