{% extends 'base.html' %}
{% block styles %}
    {{ super() }}

    <style>
        .unassigned {
            background-color: #c5e9f4 !important;
            opacity: 80%;
        }

        table head {
            padding: 50px;
            font-size: 18px;
        }

        .mol-img {
            width: 100%;
            height: 10vh
        }
    </style>
{% endblock %}
{% block scripts %}
    {{ super() }}

    <script src="../static/js/custom/api.js"></script>
    <script src="../static/js/custom/cart.js"></script>
    <script src="../static/js/custom/cartblanche.js"></script>
    <script>
        $(document).ready(() => {
            setDefaultPrices();
            $('#total').html(shoppingCart.totalAmountCart())
            if (localStorage.getItem('checkCart') == "True") {
                cartCheck('{{is_authenticated}}', '{{cart|safe}}');
            }
            
            const table = $('#table').DataTable({
                "language": {
                    "emptyTable": "Cart is empty"
                },
                "scrollX": false,
                "scrollY": "550px",
                "paging": false,
                "ordering": false,
                "info": false,
                data: shoppingCart.listCart(),
                columns: [
                    {
                        "mData": null,
                    },
                    {
                        "mData": (data) => {
                            return '<img src="' + data.img + '" class="mol-img"/>';
                        },
                    },
                    {
                        "mData": function (data) {
                            if(data.identifier.includes('ZINC')){
                                return "<a href='/substance/" + data.identifier + "'><p id='identifier'>" + data.identifier + "<br/>" + data.db + "</p></a>";
                            }
                            else{
                                return "<p id='identifier'>" + data.identifier + "<br/>" + data.db + "</p>";
                            }
                        }
                    },
                    {
                        "mData": function (data) {
                            return data.cat_name + "<br/><small>" + data.supplier_code + "</small>";
                        }
                    },
                    {
                        "mData": function (data) {
                            return data.quantity + data.unit;
                        }
                    },
                    {data: "shipping"},
                    {
                        "mData": function (data) {
                            return '$' + data.price;
                        }
                    },
                    {data: "purchase"},
                    {
                        "mData": function (data) {
                            return '$' + data.total;
                        }
                    },
                    {
                        data: null,
                        defaultContent: '<a id="delete" ><span class="glyphicon glyphicon-trash btn btn-info btn-sm" aria-hidden="true"></span></a>'
                    },
                ],
                "columnDefs": [
                    {
                        "targets": 7,
                        "data": "purchase",
                        "render": function (data, type, full, meta) {
                            var $select = $("<select></select>", {});
                            for (let i = 1; i <= 10; i++) {
                                var $option = $("<option></option>", {
                                    "text": i,
                                    "value": i
                                });
                                if (data == i) {
                                    $option.attr("selected", "selected")
                                }
                                $select.append($option);
                            }
                            return $select.prop("outerHTML");
                        }
                    },

                ],
                rowCallback: function (row, data) {

                    if (data['cat_name'] == 'not assigned') {
                        $(row).addClass("unassigned")
                    }

                }

            });
            table.on('order.dt search.dt change click', function () {
                table.column(0, {search: 'applied', order: 'applied'}).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();
            $('#table').on("click", "#delete", function () {
                let data = table.row($(this).parents('tr')).data()
                shoppingCart.removeItemFromCart(data.identifier)
                table.row($(this).parents('tr')).remove().draw(false);
                updateCartNums();
            });
            $('#table').on('change', 'select', function () {
                let new_purchase = $(this).context.value
                let data = table.row($(this).parents('tr')).data()
                if (data['cat_name'] != 'not assigned') {
                    shoppingCart.updatePurchaseAmount(data.identifier, data.cat_name, data.supplier_code, data.quantity, data.unit, data.price, new_purchase);
                    updateCartNums();
                    data.purchase = new_purchase
                    data.total = parseInt(data.price) * parseInt(new_purchase)
                    console.log(data)
                    table.row($(this).parents('tr')).data(data);

                }

            })
            $('#table').on("click", '#item', function () {
                let data = table.row($(this).parents('tr')).data()
            })

            $('#deleteAll').on('click', () => {
                shoppingCart.deleteAllFromCart();
                table.clear().draw();
            });
        });
        $('#checkout').on('click', () => {
            if(shoppingCart.getCart().length == 0){
                alert('The cart is empty. Checkout not possible.')
                return;
            }
            console.log('checkout button clicked')
            let cart = JSON.parse(localStorage.getItem('cart'))
            let total = $('#total').html()
            console.log(cart)
            $.ajax({
                type: "POST",
                url: "/processCheckout",
                data: JSON.stringify({'cart': cart, 'total': total}),
                contentType: "application/json",
                dataType: 'json',
                success: function (route) {
                    window.location.href = route;
                }
            });
        })
        $('#refresh').on('click', () => {
            let cart = shoppingCart.getCart()
            $('#loadingModal').modal('show');
            if (cart.length === 0) {
                $('#loadingModal').modal('hide');
            }
            else{
                for (let c = 0; c < cart.length; c++) {
                    let vendors;
                    const res = getPurchasability(cart[c].identifier, cart[c].db);
                    let db = res.db;
                    let supplier = res.supplier;
                    let catalog = res.catalog;
                    vendors = catalog;

                    if (db === 'zinc22') {
                        vendors = shoppingCart.getPossibleVendors(db, catalog, supplier);
                    }

                    shoppingCart.assignvendors(cart[c].identifier, vendors)
                }
            }
            $('#loadingModal').modal('hide');
            location.reload();
            


        });

    </script>
{% endblock %}


{% block app_content %}
    <div class="modal" tabindex="-1" role="dialog" id="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Are you sure? </h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>You'll lose all cart data...</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id='deleteAll' data-dismiss="modal">Yes, delete</button>
        <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
    <div class="row">
        <div class="col-md-6">
            <h1>Shopping Cart</h1>
            {#        <p>(Click on the identifier to assign vendor)</p>#}
        </div>

        <div class="col-md-6 float-right text-right">
            <h5 class="card-title" id='checkoutTitle'>Total : $<span id='total'>-</span></h5>
            <button type="button" class="btn btn-info"
                    id="refresh"
                    title="Refresh and assign vendors for all molecules"
                    data-toggle="tooltip" data-placement="up">
                Refresh Vendors
            </button>
            <button type="button" class="btn btn-info" id="checkout">Checkout</button>
{#            <button type="button" class="btn btn-warning" id="deleteAll">Clear cart</button>#}
            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal">Clear cart</button>
        </div>
    </div>
    <hr>
    <div>

    </div>
    <table id="table" class="row-border " cellspacing="0" style="width:100%;">
        <thead>
        <tr>
            <th>No</th>
            <th>Compound Image</th>
            <th>
                Identifier<br><small>Database</small>
            </th>
            <th>
                Catalog Name<br><small>Supplier Code</small>
            </th>
            <th>Pack Size</th>
            <th>Shipping Time</th>
            <th data-toggle="tooltip"
                title="All prices listed below are estimated. Please check with vendors directly to confirm the price.">
                Est. Pack Price *
            </th>
            <th>Purchase Qty</th>
            <th>Total Price</th>

            <th></th>
        </tr>
        </thead>
    </table>
    <div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h3 id="spinnerbody"><i class="fa fa-spinner fa-pulse fa-x fa-fw"></i> We are working on it ...
                    </h3>
                </div>
            </div>
        </div>
    </div>
{% endblock %}