{% extends 'base.html' %}
{% block styles %}
    {{ super() }}
    <style>
        .input-sm {
            padding: 0 !important;
        }
    </style>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(() => {
            $('#deleteItem').hide()
                $('#addItem').hide()
            let inCart = shoppingCart.inCart('{{ data.zinc_id }}')
            console.log('inCart', inCart)
            
            if (inCart) {
                $('#deleteItem').show()
                $('#addItem').hide()
            } else {
                $('#addItem').show()
                $('#deleteItem').hide()
            }
            let supplier_codes = JSON.parse('{{data.supplier_code|tojson}}')
            let catalogs = JSON.parse('{{ data.catalogs|tojson }}')
            let identifier = JSON.parse('{{ identifier|tojson }}')
            let smiles = JSON.parse('{{ data.smiles|tojson }}')
            $('#addItem').on('click', () => {
                console.log('add Item clicked')
           
                if('{{data.zinc20}}' !== "False"){
                    let supplier = JSON.parse('{{ data.supplier|tojson }}')
                    shoppingCart.addItemToCart(identifier, 'zinc20', smiles, supplier_codes, supplier)    
                }
                else{
                    shoppingCart.addItemToCart(identifier, 'zinc22', smiles, supplier_codes, catalogs)
                }
                $('#deleteItem').show()
                $('#addItem').hide()
            });
            $('#deleteItem').on('click', () => {
                console.log('delete Item clicked')
                shoppingCart.removeItemFromCart(identifier)
                $('#deleteItem').hide()
                $('#addItem').show()
            })

        });


        function toggleVendor(btn) {
            let price = btn.getAttribute('data-price')
            let identifier = btn.getAttribute('data-id')
            let smile = btn.getAttribute('data-smile')
            let db = btn.getAttribute('data-db')
            let supplier_code = btn.getAttribute('data-catalog')
            let cat_name = btn.getAttribute('data-catalog')
            let quantity = btn.getAttribute('data-quantity')
            let unit = btn.getAttribute('data-unit')
            let shipping = btn.getAttribute('data-shipping')
            let purchase = 1
            if (btn.getAttribute('class') == 'btn btn-info') {
                shoppingCart.addVendorToCart(identifier, db, smile, cat_name, supplier_code, price, purchase, quantity, unit, shipping)
                $(btn).html('Remove')
                $(btn).attr('class', 'btn btn-danger')
            } else {
                shoppingCart.removeVendorFromCart(identifier, cat_name, supplier_code, quantity, unit, price)
                $(btn).html('Add To Cart')
                $(btn).attr('class', 'btn btn-info')
            }
            $('#cartCount').html(shoppingCart.countCart())
        }

    </script>
{% endblock %}
{% block app_content %}
    <div class="row">
        <div class="col-sm-9">
            <div class="row">
                <h1>
                    <a href="" title="Permalink to {{ data.zinc_id }}">
                        {{ data.zinc_id }}
                    </a>
                </h1>
                <div class="clearfix">
                    <strong class="pull-left"></strong>
                    <ul class="list-inline">
                    </ul>
                </div>
            </div>
            <div class="row">
                <table class="table table-striped table-condensed table-hover table-numeric">
                    <thead>
                    <tr>
                        <th><abbr title="Molecular Weight">Mwt</abbr></th>
                        <th><abbr title="Partition Coefficient">logP</abbr></th>
                        <th>Tranche</th>
                        <th>Heavy Atoms</th>
                        {#                        <th>Download</th>#}
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        {% if data.tranche %}
                            <td>{{ data.tranche_details.mwt }}</td>
                            <td>{{ data.tranche_details.logp }} ({{ data.tranche.logp }})</td>
                            <td>{{ data.tranche.h_num }}{{ data.tranche.p_num }}</td>
                            <td>{{ data.tranche_details.heavyAtoms }} [{{ data.tranche.mwt }}]</td>
                        {% else %}
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        {% endif %}
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row collapse-inputgroups">
                <div class="input-group input-sm">
                    <label for="substance-smiles-field" id="substance-smiles-field-label" class="input-group-addon"
                           title="Click to copy to clipboard">SMILES</label>
                    <input type="text" class="form-control" id="substance-smiles-field" readonly=""
                           value={{ data.smiles }}>
                    {#                    <span class="input-group-btn">#}
                    {#                        <button class="btn btn-default" type="button" data-role="trigger-copy" data-target="#substance-smiles-field"#}
                    {#                            title="Copy SMILES to clipboard">#}
                    {#                    <span class="glyphicon glyphicon-copy"></span> <span class="sr-only">Copy</span>#}
                    {#                    </button>#}
                    </span>
                </div>

                <div class="input-group input-sm">
                    <label for="scaffold-inchi-field"
                           id="scaffold-inchi-field-label"
                           class="input-group-addon"
                           title="Click to copy to clipboard">InChI</label>
                    {% if data.tranche %}
                    <input type="text" class="form-control" id="scaffold-inchi-field" readonly
                           value="{{ data.tranche_details.inchi }}">
                    {% else %}
                    <input type="text" class="form-control" id="scaffold-inchi-field" readonly
                    value="n/a">
                    {% endif %}
                    
                    {#                    <span class="input-group-btn">#}
                    {#                        <button class="btn btn-default"#}
                    {#                                type="button"#}
                    {#                                data-role="trigger-copy"#}
                    {#                                data-target="#scaffold-inchi-field"#}
                    {#                                title="Copy InChI to clipboard">#}
                    {#                            <span class="glyphicon glyphicon-copy"></span> <span class="sr-only">Copy</span>#}
                    {#                        </button>#}
                    {#                      </span>#}
                </div>
                <div class="input-group input-sm">
                    <label for="scaffold-inchikey-field"
                           id="scaffold-inchikey-field-label"
                           class="input-group-addon"
                           title="Click to copy to clipboard">InChI Key</label>
                    {% if data.tranche %}
                    <input class="form-control" id="scaffold-inchikey-field"
                           value="{{ data.tranche_details.inchi_key }}" readonly>
                    {% else %}
                    <input class="form-control" id="scaffold-inchikey-field"
                    value="n/a" readonly>
                    {% endif %}
                    {#                    <span class="input-group-btn">#}
                    {#                        <button class="btn btn-default"#}
                    {#                                type="button"#}
                    {#                                data-role="trigger-copy"#}
                    {#                                data-target="#scaffold-inchikey-field"#}
                    {#                                title="Copy InChI Key to clipboard">#}
                    {#                            <span class="glyphicon glyphicon-copy"></span>#}
                    {#                        <span class="sr-only">Copy</span></button>#}
                    {#                      </span>#}
                </div>
            </div>

        </div>
        <div class="col-sm-3">
            <div class="thumbnail">
                <img style="width:100%; height: 26vh"
                     src="https://sw.docking.org/depict/svg?w=50&h=30h&smi={{ smile }}&qry=%q&cols=%c&cmap=%m"
                     alt="{{ data.zinc_id }}">

                {#                <div class="caption text-center">#}
                {#                    <a href="">Draw</a>#}
                {#                </div>#}
                <button id='addItem' class="btn btn-info" style="display:none;">Add to Cart</button>
                <button id='deleteItem' class="btn btn-danger" style="display:none;">Remove from Cart</button>
            </div>

            {#            <table class="table table-striped table-condensed table-hover table-numeric">#}
            {#                <thead>#}
            {#                <tr>#}
            {#                    <th>Supplier Codes</th>#}
            {#                </tr>#}
            {#                </thead>#}
            {#                <tbody>#}
            {#                {% for supplier in data.supplier_code %}#}
            {#                    <tr>#}
            {#                        <td>{{ supplier }}</td>#}
            {#                    </tr>#}
            {#                {% endfor %}#}
            {#                </tbody>#}
            {#            </table>#}
        </div>


    </div>
    <div class="row">
        <table class="table table-striped table-condensed table-hover table-numeric">
            <thead>
            <tr>
                <th>Catalog Name</th>

                <th>Supplier code</th>
                <th>Pack</th>
                <th>Ships within</th>
                <th>Price (USD)</th>
            </tr>
            </thead>
            <tbody>
            {% for p in prices %}
                {% if p.category_name == 'zinc20-stock' %}
                    <tr>
                        <td>{{ p.category_name }}</td>
                        <td><a target="_blank"
                               href="https://zinc20.docking.org/substances/{{ data.supplier_code[loop.index0] }}">{{ data.supplier_code[loop.index0] }} </a>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>

                            {#                        <button class="btn btn-info vendorBtn"#}
                            {#                                data-catalog="{{ p.category_name }}"#}
                            {#                                data-price="{{ p.price }}"#}
                            {#                                data-quantity="{{ p.quantity }}"#}
                            {#                                data-unit="{{ p.unit }}"#}
                            {#                                data-shipping="{{ p.shipping }}"#}
                            {#                                data-id="{{ data.zinc_id }}"#}
                            {#                                data-db = "zinc22"#}
                            {#                                data-smile =" {{ data.smiles }}"#}
                            {#                                onclick="toggleVendor(this)">#}
                            {#                            <span class="glyphicon glyphicon-shopping-cart" style="font-size:16px"></span>#}
                            {#                            Add to cart#}
                            {#                        </button>#}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td>{{ p.category_name }}</td>

                        <td>{{ data.supplier_code[loop.index0] }} </td>
                        <td> {{ p.quantity }} {{ p.unit }}</td>
                        <td> {{ p.shipping }} </td>
                        <td> {{ p.price }} </td>

                        <td>

                            {#                        <button class="btn btn-info vendorBtn"#}
                            {#                                data-catalog="{{ p.category_name }}"#}
                            {#                                data-price="{{ p.price }}"#}
                            {#                                data-quantity="{{ p.quantity }}"#}
                            {#                                data-unit="{{ p.unit }}"#}
                            {#                                data-shipping="{{ p.shipping }}"#}
                            {#                                data-id="{{ data.zinc_id }}"#}
                            {#                                data-db = "zinc22"#}
                            {#                                data-smile =" {{ data.smiles }}"#}
                            {#                                onclick="toggleVendor(this)">#}
                            {#                            <span class="glyphicon glyphicon-shopping-cart" style="font-size:16px"></span>#}
                            {#                            Add to cart#}
                            {#                        </button>#}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}