.horizontal-slider{
    background-color: black;
}


.css-1eoe787-MuiSlider-markLabel{
    font-size: 9px !important;
    top: 20px !important;
}

.css-xmer36-MuiSlider-root{
    margin-bottom: .1em !important;
}
