{% extends 'base.html' %}
{% block scripts %}
{{ super() }}
<script>

    function searchZinc() {
        let val = $('#searchValue').val()
        $.ajax({
             url: "http://zinc22.docking.org/search.json",
            dataType: 'json',
            headers: { 'Access-Control-Allow-Origin': '*' },
            data: {'zinc_id': val},
            crossDomain:true,
            success: function (result) {
                console.log(result)
                let smile = result.smiles;
                let zinc_id = result.zinc_id;
                let supplier_code = result.supplier_code
                $('p').append('Smiles : ' + smile).appendTo($('#resultZinc'))
                $('p').append('Zinc ID : ' + zinc_id).appendTo($('#resultZinc'))
                $('p').append('Supplier Code : ' + supplier_code).appendTo($('#resultZinc'))
            }
        });
    }

</script>
{% endblock %}
{% block app_content %}
<div>
<div>
    <h3>Search by {{ var }}</h3>
</div>
    {% if var == 'zinc' %}
        <h5>Example : ZINCms000002NiP3</h5>
        <form action="/searchZinc" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.id.label }}<br>
            {{ form.id }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% endif %}
    {% if var == 'file' %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.file.label }}<br>
            {{ form.file }}
        </p>
        <p>{{ form.submit() }}</p>
    {% endif %}
    {% if var == 'zinclist' %}

    <form action="/searchZincList" method="post" >
        {{ form.hidden_tag() }}
        <p>
            {{ form.listData.label }}<br>
            {{ form.listData(rows='10',cols='80') }}
        </p>
{#        <p>{{ form.submit() }}</p>#}


    <h5> OR </h5>
    <div class="form-group">
        <label for="myfile">Select a file(.txt only) :</label>
        <input type="file" id="myfile" name="myfile" class="btn btn-info">
    </div>
    <button type="button" class="btn btn-info" onclick="" data-toggle="modal"
        data-target="#modal">Search Many</button>
    {% endif %}

</div>

{% endblock %}