{% extends 'base.html' %}
{% block styles %}
    {{ super() }}
    <style>
    </style>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="../static/js/custom/api.js"></script>
    <script>
         $(document).ready(() => {
             setDefaultPrices();

             $('#testData').click((e) => {
                e.preventDefault();
                $('#smilesTextarea').val("C1CCC(-C2NNCNN2)CC1\nC1CCC(C2CNNC2)C1\nC1=CC=CC=C1C2=CC=CC=C2\n");
            });
        })
        
    </script>
{% endblock %}
{% block app_content %}
    <div class="row" id="smilesSearchInput">
        <div class="panel panel-info">
            <div class="panel-heading">Search by Smiles, one per line</div>
            <div class="panel-body">

                <form id="data" method="post" enctype="multipart/form-data" action="/searchSmiles">
                    <div class="form-group">
                        <textarea id="smilesTextarea" class="form-control" rows="6" cols="20"
                                  placeholder="Smiles" name="smilesTextarea"></textarea>
                    </div>
                    
                    <div class="form-group">
                        <label for="smilesfile">OR Upload a file (.txt only):</label>
                        <input type="file" id="smilesfile" name = "smilesfile"
                                class="form-control" accept=".txt">
                    </div>
                    <label for="distformat">dist:</label>
                    <select name="dist" class="btn btn-info" id="distformat">
                        <option value="0" id="dist-0" selected>
                            0
                        </option>
                        <option value="1" id="dist-1">
                            1
                        </option>
                        <option value="2" id="dist-2">
                            2
                        </option>
                        <option value="3" id="dist-3">
                            3
                        </option>
                        <option value="4" id="dist-4">
                            4
                        </option>
                        <option value="5" id="dist-5">
                            5
                        </option>
                        <option value="6" id="dist-6">
                            6
                        </option>
                        <option value="7" id="dist-7">
                            7
                        </option>
                        <option value="8" id="dist-8">
                            8
                        </option>
                        <option value="9" id="dist-9">
                            9
                        </option>
                    </select>
                    &nbsp;
                    <label for="adistformat">anon dist:</label>
                    <select name="adist" class="btn btn-info" id="adistformat">
                        <option value="0" id="adist-0" selected>
                            0
                        </option>
                        <option value="1" id="adist-1">
                            1
                        </option>
                        <option value="2" id="adist-2">
                            2
                        </option>
                        <option value="3" id="adist-3">
                            3
                        </option>
                        <option value="4" id="adist-4">
                            4
                        </option>
                        <option value="5" id="adist-5">
                            5
                        </option>
                        <option value="6" id="adist-6">
                            6
                        </option>

                    </select>
                    <br>
                    <br>
                    <button id="searchSmilesBtn2" type="submit" class="btn btn-info">Search</button>
                    <button id="testData" class="btn btn-secondary">Load Test Data</button>
                </form>
            </div>
        </div>
    </div>
    <div class="row" id="desc">
    <p>You can get result with different formats.
            It returns with all possible fields.
            </p>

        <h4>CURL commands for searching Smiles</h4>
        <p>Example: <code>curl https://cartblanche22.docking.org/smiles.txt -F smiles-in=@smiles.txt -F dist=4 -F adist=4
</code></p>
                <table class="table table-bordered">
            <tr>
                <th class="col-md-4">Description</th>
                <th class="col-md-5">Attributes</th>
                <th class="col-md-3">Parameters</th>
            </tr>
            <tr>
                <td>To specify return format</td>
                <td><code>curl https://cartblanche22.docking.org/substances<i>.txt</i></code></td>
                <td><ul>
                    <li>.txt</li>
                    <li>.csv</li>
                    <li>.json</li>
                </ul></td>
            </tr>
            <tr>
                <td>To add search value</td>
                <td> <code>-F smiles-in=<i>@test.txt</i></code></td>
                <td>.txt file with list of smiles</td>
            </tr>
            <tr>
                <td>To specify dist, adist
                                        <br>

                  <small>If it doesn't defined, default value would be dist = 0, adist = 0</small></td>
                <td>
                    <code>-F dist=<i>4</i></code>
                    <code>-F adist=<i>4</i></code>
              </td>
                <td>Number</td>
            </tr>

        </table>
        <p>If you want to learn more about search, please go to <a
                href="http://wiki.docking.org/index.php/Zinc22:Searching" target="_blank"> Zinc22 documentation on wiki
            page</a></p>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h3 id="spinnerbody"><i class="fa fa-spinner fa-pulse fa-x fa-fw"></i> Searching...</h3>
                </div>
            </div>
        </div>
    </div>
{% endblock %}