{% extends 'base.html' %}
{% block styles %}
    {{ super() }}
    <style>
        .mol {
            opacity: 1;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin-bottom: 20px;
            text-align: center;
            padding: 10px;
        }

        .mol img {
            width: 100%;
            height: 15vh
        }

        .added {
            border: 1px solid #5bc0de;
            background-color: #9bd8eb;
        }
    </style>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
    </script>
    <script type="text/javascript">
        $('#exampleModal').on('hidden.bs.modal', function () {
            $('#supplierfile').val('')
        });

        $("form#data").submit(function (e) {

            $('#exampleModal').modal('show');
            $('#spinnerbody').html("<i class='fa fa-spinner fa-pulse fa-x fa-fw'></i> Searching...")
            $('#exampleModalLabel').html('Please wait...')
            e.preventDefault();
            var formData = new FormData();
            let file = $('#supplierfile')[0].files[0];
            let txtarea = $('#textareasupplier').val()
            if (file === undefined) {
                var theArray = txtarea.split();
 {#console.log(theArray)#}
                var oMyBlob = new Blob(theArray, {type: 'text/plain'});
                formData.append('supplier_code-in', oMyBlob);
                    {# oMyBlob.text().then((e) =>{#}
                    {#console.log(e)})#}
            } else {
                formData.append('supplier_code-in', file);
            }
            {#$.ajax({#}
            {#    url: '/search/api',#}
            {#    type: 'GET',#}
            {#    success: function (response) {#}
            {#        console.log(response)#}
            {#        buildMol(response)#}
            {#    },#}
            {#    error: function (error) {#}
            {#        $('#exampleModalLabel').html("Error occured during search. Error code: " + error.status)#}
            {#        $('#spinnerbody').html("Search failed")#}
            {#    }});#}
            $.ajax({
                url: 'https://cartblanche22.docking.org/catalogs.json',
                cache: false,
                contentType: false,
                processData: false,
                data: formData,
                type: 'POST',
                success: function (response) {
                    if (Object.keys(response).length === 0) {
                        $('#exampleModalLabel').html("Nothing found")
                        $('#spinnerbody').html("Your search value doesn't match with any molecules")
                    } else {
                        buildMol(response)
                    }
                    console.log(response)
                },
                statusCode: {
                    404: function (responseObject, textStatus, jqXHR) {
                        $('#exampleModalLabel').html("Nothing found")
                        $('#spinnerbody').html("Your search value doesn't match with any molecules")
                    },
                    400: function (responseObject, textStatus, errorThrown) {
                        $('#exampleModalLabel').html("Error occured during search. Error code: " + error.status)
                        $('#spinnerbody').html("Search failed")
                    }
                },
                error: function (error) {
                    $('#exampleModalLabel').html("Error occured during search. Error code: " + error.status)
                    $('#spinnerbody').html("Search failed")
                }
            });
        });

        function buildMol(response) {
            $('#desc').hide()
            $('#foundNum').html(response.items.length)
            $('#addAllBtn').click((e) => {
                console.log(response.items)
                let btn = $(e.target)
                if (btn.hasClass('addAllZinc')) {
                    btn.removeClass('addAllZinc')
                    btn.html("Add all to cart")
                    btn.removeClass('btn-danger')
                    btn.addClass('btn-info')
                    console.log('deleted all from cart')
                    for (let item of response.items) {
                        shoppingCart.removeItemFromCart(item.zinc_id)
                        $('#' + item.zinc_id).removeClass('added')
                    }
                } else {
                    btn.addClass('addAllZinc')
                    btn.html("Remove all from cart")
                    btn.removeClass('btn-info')
                    btn.addClass('btn-danger')
                    $('.zinc-results').addClass('addZinc')
                    console.log('added all to cart')
                    for (let item of response.items) {
                        shoppingCart.addItemToCart(item.zinc_id, 'zinc22', item.smiles)
                        $('#' + item.zinc_id).addClass('added')
                    }
                }
                $('#cartCount').html(shoppingCart.countCart())
            })
            for (let item of response.items) {

                $('#exampleModal').modal('hide');
                $('#supplierSearchInput').hide();
                $('#zincResults').show();
                $('#molResults').show();
                let div = $("<div>", {
                    class: "col-xs-6 col-sm-4 col-md-3 col-lg-2 col-xl-2"
                });
                let div2 = $("<div>", {
                    id: item.zinc_id,
                    class: "mol",
                    'data-smiles': item.smiles,
                    'data-db': 'zinc22'
                });
                let a = $("<a>", {href: "/searchZinc/" + item.zinc_id, text: item.zinc_id})
                let img = $("<img>", {src: "https://sw.docking.org/depict/svg?w=50&h=30h&smi=" + encodeURIComponent(item.smiles) + "&qry=%q&cols=%c&cmap=%m&bgcolor=clear&hgstyle=outerglow"})
                div2.append(a)
                div2.append(img)
                if (shoppingCart.inCart(item.zinc_id)) {
                    div2.addClass('added');
                }
                div2.click((e) => {
                    let cur = $(e.currentTarget);
                    console.log(e.currentTarget.id)
                    if (cur.hasClass('added')) {
                        shoppingCart.removeItemFromCart(cur.attr('id'))
                        cur.removeClass('added')
                    } else {
                        cur.addClass('added')
                        shoppingCart.addItemToCart(cur.attr('id'), cur.data('db'), cur.data('smiles'))
                    }
                    $('#cartCount').html(shoppingCart.countCart())
                })
                div.append(div2)
                $('#molResults').append(div)
            }
            $('#downloadBtn').click((e) => {
                e.preventDefault();

                var blob = new Blob([JSON.stringify(response)], {
                    type: 'application/json'
                });
                saveAs(blob, "supplierSearchResult.json")
            });
        }
    </script>
{% endblock %}
{% block app_content %}
    <h3>Search by Supplier Code</h3>
    <div class="row">
        <div class="panel panel-info" id="supplierSearchInput">
            <div class="panel-heading">Search Using Many</div>
            <div class="panel-body">
                <form id="data" action="" method="post" class="form" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="textareasupplier">One supplier code per Line</label>
                        <textarea id="textareasupplier" class="form-control" name="list_of_suppliercode" rows="6"
                                  cols="20" placeholder="Supplier Codes"></textarea>
                    </div>
                    <h5>OR Upload a File</h5>
                    <div class="form-group">
                        <label for="supplierfile">Select a file (.txt only):</label>
                        <input type="file" id="supplierfile" name="supplier_file" class="form-control" accept=".txt">
                    </div>
                    <button class="btn btn-info" type="submit" id="searchSupplierBtn">
                        Search Many
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="row" id="zincResults" style="display: none">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <h5>We found <span id="foundNum"></span> matches</h5>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 pull-right">
            <button class="btn btn-info pull-right" onclick="" id="addAllBtn">
                Add all to cart
            </button>
            <button class="btn btn-info pull-right" id="downloadBtn">
                Download <i class="fa fa-download fa-x" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <br>
    <div class="row" id="molResults" style="display: none">
    </div>
    <div class="row" id="desc">
        <h4>CURL commands for searching Supplier Code</h4>
        <p>Below curl command returns a json file with all possible fields. </p>
        <p>If you want to curl with text file:</p>
        <code>
            curl https://cartblanche22.docking.org/catalogs.json -F supplier_code-in=@sup.txt
        </code>
        <p></p>
        <p>If you want to learn more about search, please go to <a
                href="http://wiki.docking.org/index.php/Zinc22:Searching" target="_blank"> Zinc22 documentation on wiki
            page</a></p>

    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h3 id="spinnerbody"><i class="fa fa-spinner fa-pulse fa-x fa-fw"></i> Searching...</h3>
                </div>
            </div>
        </div>
    </div>

{% endblock %}