{% extends 'base.html' %}
{% block scripts %}
    {{ super() }}
    <script>
    </script>
{% endblock %}
{% block app_content %}
    <h3>Download random molecules</h3>
    <div class="row">
        <div class="panel panel-info">
            <div class="panel-heading">Download</div>
            <div class="panel-body">
                <form action="/search/random" method="POST" class="form-inline">
                   <div class="form-group">

                       <select name="amount" class="btn btn-info" id="amountformat">
                                        <option value="100" id="amount-100" selected>
                                           100
                                        </option>
                           <option value="500" id="amount-500" >
                               500
                                        </option>
                           <option value="1000" id="amount-1000" >
                                           1000
                                        </option>
                           <option value="5000" id="amount-5000" >
                                           5000
                                        </option>
                           <option value="10000" id="amount-10000" >
                                           10000
                                        </option>
                           <option value="50000" id="amount-50000" >
                                           50000
                                        </option>
                            <option value="100000" id="amount-100000" >
                                           100000
                                        </option>
                           <option value="500000" id="amount-500000" >
                                           500000
                                        </option>

                                    </select>
                       <select name="format" class="btn btn-info" id="format">
                                        <option value="txt" id="format-txt" selected>
                                           .txt
                                        </option>

                                    </select>

                                  <button class="btn btn-primary" type="submit">
                                        <i class="glyphicon glyphicon-download-alt"></i>
                                        Download
                                    </button>
                                </div>
                </form>
            </div>
        </div>
    </div>
 <div class="row">
    <h4>CURL commands for downloading random smiles</h4>
     <p>Below curl command returns a json, txt or csv file with all possible fields.
</p>
<code>
curl http://cartblanche22.docking.org/substance/random.txt list -F count=100
 </code>

    </div>

{% endblock %}