{%  extends 'base.html' %}
{%  block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../static/js/datatables.min.js"></script>
<script src="../static/js/datatables.rowsGroup.js"></script>
<style>
    table,
    th,
    td {
        border: 1px solid #ddd;
        padding: 8px;
    }

    table {
        border-collapse: collapse;
        text-align: center;
        width: 95%;
        margin: auto;
    }

    #cart tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #cart tr:hover {
        background-color: #ddd;
    }

    #cart p {
        font-size: 12px;
    }

    #cart th {
        padding-top: 12px;
        padding-bottom: 12px;
        background-color: #4CAF50;
        color: white;
    }

    #suppliers tr {
        background-color: white;

    }





    button,
    .button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        margin: 2px 2px;
        cursor: pointer;
    }

    /* The Modal (background) */
    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        padding-top: 100px;
        /* Location of the box */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-height: 500px;
        overflow: scroll;
        text-align: center;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
</style>
<h2>Items in {{current_user.cart_name}}</h2>
<table id="cart">
    <tr>
        <th>No</th>
        <th>Compound</th>
        <th>Identifier</th>
        <th>Assigned supplier</th>
    </tr>
    {% for i in data %}
    <tr>
        <td> {{ loop.index }} <br>
            <button onclick="deleteItem('{{i.identifier}}')"><i class="fa fa-trash-o" style="font-size:18px"
                    aria-hidden="true"></i></button>
        </td>
        <td><img src={{ i.compound_img }}></td>
        <td>
            <h3>{{ i.identifier }}</h3>
            <p>({{ i.database }})</p>

        </td>

        <td>
            <table id="suppliers">
                {% for v in i.vendors %}
                <tr>
                    <td>{{v.cat_name}}</td>
                    <td>{{v.supplier_code}}</td>
                    <td>{{v.pack_quantity}} {{v.unit}}</td>
                    <td>{{v.price}} {{v.currency}}</td>
                    <td>{{v.purchase_quantity}} pack</td>
                </tr>

                {% endfor %}
            </table>
            <button id={{i.item_id}} identifier={{i.identifier}} onclick="openModal(this)"
                style="text-align: right">Assign Vendor</button>
        </td>
    </tr>

    {% endfor %}

</table>
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <div id="spinner">
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
            <span class="sr-only">Loading...</span>

        </div>
        <div id="vendorResult">
            <p id="vendorResult1">We are connecting to vendors</p>
            <p id="vendorResult2">Thank you for your patience!</p>
        </div>
        <table id='chooseVendors' style='overflow:hidden'>
        </table>
    </div>


</div>
<script>
    var modal = document.getElementById("myModal");
    var span = document.getElementsByClassName("close")[0];
    span.onclick = function (e) {
        modal.style.display = "none";
        location.reload();
    }
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
            location.reload();
        }
    }
    function openModal(item) {
        modal.style.display = "block";
        $('#spinner').show().css('text-align', 'center')
        $('#vendorResult').show().css('text-align', 'center')
        $.getJSON('/vendorModal/' + item.id, (json_data) => {
            if (json_data == 'null') {
                $('#spinner').hide()
                $('#vendorResult1').html('No vendors found.')
                $('#vendorResult2').html('Sorry for the inconvenience!')
            }
            else {
                $('#spinner').hide()
                $('#vendorResult').hide()
                //CLEARING TABLE AND DRAWING AGAIN 
                $('#chooseVendors').html('')
                let $tr = $('<tr>')
                $('<th>').html('No').appendTo($tr)
                $('<th>').html('Catalog name').appendTo($tr)
                $('<th>').html('Supplier code').appendTo($tr)
                $('<th>').html('Shipping').appendTo($tr)
                $('<th>').html('Price').appendTo($tr)
                $('<th>').html('Currency').appendTo($tr)
                $('<th>').html('Pack quantity').appendTo($tr)
                $('<th>').html('Unit').appendTo($tr)
                $('<th>').html('Purchase quantity').appendTo($tr)
                $('#chooseVendors').append($tr)

                //ADDING ROWS 
                $.each(json_data, (v, vendor) => {
                    let $tr = $("<tr>").attr('id', v)
                    $('<td>').attr('rowspan', vendor.packs.length + 1).html(v + 1).appendTo($tr);
                    $('<td>').attr('rowspan', vendor.packs.length + 1).attr('id', v + '_cat_name').attr('cat_id_fk', vendor.cat_id_fk).html(vendor.cat_name).appendTo($tr);
                    $('<td>').attr('rowspan', vendor.packs.length + 1).attr('id', v + '_supplier_code').html(vendor.supplier_code).appendTo($tr);
                    $('#chooseVendors').append($tr)
                    $.each(vendor.packs, (p, pack) => {
                        let $tr = $("<tr>").attr('id', v + '_' + p);
                        $('<td>').html(pack.shipping).appendTo($tr);
                        $('<td>').html(pack.price).appendTo($tr);
                        $('<td>').html(pack.currency).appendTo($tr);
                        $('<td>').html(pack.quantity).appendTo($tr);
                        $('<td>').html(pack.unit).appendTo($tr);
                        let $td = $('<td>')
                        $('<input>').attr('type', 'number').attr('value', pack.purchase_quantity).appendTo($td)
                        $td.appendTo($tr);
                        $('#chooseVendors').append($tr)
                    });

                })
                $('<button>').attr('onclick', 'vendorUpdate(' + item.id + ')')
                    .html('Assign').css({ 'margin': '5px' })
                    .insertBefore('#chooseVendors')


            }

        })
        return false;
    }
    function vendorUpdate(item_id) {
        console.log(item_id)
        post_data = []
        let inputs = $('#chooseVendors').find('input')
        $.each(inputs, (i, input) => {
            if ($(input)[0].value > 0) {
                vendor_data = {}
                vendor_data.purchase_quantity = parseInt($(input)[0].value)
                let tr = $(input).parents()[1]
                console.log(tr)
                let children = $(tr).children()
                vendor_data.shipping = $(children[0]).html()
                vendor_data.price = $(children[1]).html()
                vendor_data.currency = $(children[2]).html()
                vendor_data.quantity = $(children[3]).html()
                vendor_data.unit = $(children[4]).html()
                let id = $(tr)[0].id.split("_")[0]
                console.log(id)
                vendor_data.cat_name = $('#' + id + '_cat_name').html()
                vendor_data.cat_id_fk = $('#' + id + '_cat_name').attr('cat_id_fk')
                vendor_data.supplier_code = $('#' + id + '_supplier_code').html()
                console.log(vendor_data)
                post_data.push(vendor_data)
            }
        })
        $.ajax({
            type: "POST",
            url: '/vendorUpdate',
            data: JSON.stringify({ 'post_data': post_data, 'item_id': item_id }),
            contentType: "application/json",
            dataType: 'json',
            success: (res) => {
                console.log(res);
                modal.style.display = "none";
                location.reload();
            }
        });
    }
    function deleteItem(identifier) {
        let confirmed = window.confirm("Are you sure to delete this item from cart?")
        if (confirmed) {
            $.ajax({
                url: '/deleteItem/' + identifier,
                type: 'DELETE',
                success: function (result) {
                    console.log(result)
                    location.reload();
                    // Do something with the result
                }
            });

        }

    }

</script>


{%  endblock %}