{% extends 'base.html' %}
{% block scripts %}
{{ super() }}
{#
<script src="../static/js/custom/cartblanche.js"></script>#}
<script>
    $(document).ready(function () {
        localStorage.setItem('punchout', '{{punchout}}')
        localStorage.setItem('is_authenticated', '{{is_authenticated}}')
        timeoutCheck('{{is_authenticated}}');
        if ('{{loadCartFromDb}}' === 'True') {
            loadCartFromDb();
        }
    });
</script>
{% endblock %}
{% block app_content %}
<div class="jumbotron row less-jumbo">
    <div class="col-md-6">
        <h1>CartBlanche</h1>
        <p>
            Welcome to Cartblanche22, an interface to ZINC-22. ZINC-22 is a free
            database of commercially-available compounds for virtual screening.
            ZINC-22 focuses on make-on-demand ("tangible") compounds from a small
            number of large catalogs: Enamine, WuXi and Mcule. Our sister
            database, <a target=_blank href="ZINC20.docking.org,">ZINC20</a>
            focuses on smaller catalogs. ZINC-22 currently has about 37 billion
            molecules in 2D and 4.5 billion in 3D.
            <br>
            <br>
            Cartblanche allows you to:
        <ul>
            <li>Search for individual molecules by similarity, substructure or
                patterns. We call this <b>A</b>nalog <b>B</b>y <b>C</b>atalog. </li>
            <li>Select parts of available chemical space by heavy atom count (HAC),
                lipophilicity (calculated logP), net molecular charge, and format
                (mol2, sdf, pdbqt, smiles and db2) in 2D or 3D</li>
            <li>Obtain scripts that help you download or otherwise access the database.</li>
            <li>Look up molecules by supplier code, ZINC ID, SMILES.</li>
            <li>Prioritize compounds for purchase using a shopping cart.</li>
        </ul>
        </p>

    </div>
    <div class="col-md-6">
        <p>
            Cartblanche is provided by the <a target="_blank" href="http://irwinlab.compbio.ucsf.edu">Irwin</a>
            and <a target="_blank" href="http://bkslab.org">Shoichet</a> Laboratories in the
            Department of Pharmaceutical Chemistry at the University of California, San Francisco (UCSF).
            We thank <a target="_blank" href="http://www.nigms.nih.gov">NIGMS</a> for financial support (GM71896 and
            GM133836).
        </p>
        <p>
            To cite CartBlanche22 (ZINC-22), please reference: Irwin, JCIM, 2022, submitted. <a href="https://doi.org/10.26434/chemrxiv-2022-82czl">https://doi.org/10.26434/chemrxiv-2022-82czl</a>
            <br>
            You may also wish to cite Irwin, Tang, Young, Dandarchuluun, Wong, Khurelbaatar, Moroz, Mayfield, Sayle, <em>J.
            Chem. Inf. Model 2020.</em>
            <a href="https://pubs.acs.org/doi/10.1021/acs.jcim.0c00675"
                target="_blank">https://pubs.acs.org/doi/10.1021/acs.jcim.0c00675</a>.
            <br>
            Or Sterling and Irwin, <em>J. Chem. Inf. Model, 2015</em>
            <a href="http://pubs.acs.org/doi/abs/10.1021/acs.jcim.5b00559"
                target="_blank">http://pubs.acs.org/doi/abs/10.1021/acs.jcim.5b00559</a></em>.
            <br>
            <br>
            ZINC-22 is free to use for everyone, but you may not redistribute
            major portions without the express written permission of John Irwin,
            chemistry4biology@gmail.com
            <br>
            <br>
            <b>Caveat Emptor</b>: ZINC-22 is made publicly available in the hope that it
            will be useful, but you must use it at your own risk.


        </p>

    </div>
</div>
<div class="row">
    <div class="col-md-5 col-lg-4">
        <div class="row">
            <div class="col-xs-6 col-md-12">
                <h2>Getting Started</h2>
                <ul>
                    <li>
                        Select database subset in <a href="/tranches/2d">2D</a>
                    </li>
                    <li>
                        Select database subset in <a href="/tranches/3d">3D</a>
                    </li>

                    <li>
                        <a href="/sw">Search for similar molecules using Smallworld</a>
                    </li>
                    <li>
                        <a href="/arthor">Search by Substructure or SMARTS using Arthor</a>
                    </li>
                    <li>
                        <a href="/search/byzincid">Lookup molecules by ZINC ID</a>
                    </li>

                    <li>
                        <a href="/search/bysupplier">Lookup molecules by supplier code</a>
                    </li>
                    <li>
                        <a href="/search/bysmiles">Lookup molecules by SMILEs in bulk</a>
                    </li>
                    <li>
                        <a href="/search/random">Select random molecules</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-lg-4">
        <h2>Things to learn about</h2>
        <ul>
            <li>
                <a href="https://wiki.docking.org/index.php/ZINC22:Getting_started">How to get started with ZINC-22</a>
            </li>
            <li>
                <a href="https://wiki.docking.org/index.php/Zinc22:Searching">Searching ZINC-22</a>
            </li>
            <li>
                <a href="https://wiki.docking.org/index.php/Selecting_tranches_in_ZINC22">Selecting tranches in ZINC22</a>
            </li>
            <li>
                <a href="https://wiki.docking.org/index.php/ZINC22:Downloading">Downloading ZINC22</a>
            </li>
            <li>
                <a href="https://wiki.docking.org/index.php/ZINC22:Why">Why ZINC22?</a> 
            </li>
        </ul>
    </div>
    <!-- <div class="col-md-2 col-lg-2">
        <h2>News</h2>
        <div class="well well-sm">
            <strong>Caveat Emptor</strong>: We do not guarantee the quality of any molecule for any
            purpose and take no responsibility for errors arising from the use of
            this application. Cartblanche is provided in the hope that it will be useful,
            but you must use it at your own risk.
        </div>
    </div> -->
    <div class="col-md-2 col-lg-3">
        <h2>Guides</h2>
        <ul>
            <!-- <li>
                Recommendations of how to operate at scale
            </li>
            <li>
                How to become a ZINC-22 mirror
            </li>
            <li>
                How to help grow ZINC-22
            </li>
            <li>
                How to set up, install, and run, your own docking lab
            </li> -->
        </ul>
    </div>
</div>
{% endblock %}