{% extends "base.html" %}


<head>


</head>

{% block content %}
<div id="header"></div>
<div id="container">
    <div id="nav">
        <div id="jsme_container"></div>
        <button type="button" onclick="alert(jsmeApplet.smiles())">Show SMILES</button>
        <button type="button" onclick="callSmallWorld(jsmeApplet.smiles())">Call SW</button>
        <input id="smiles-in" onkeyup="load_smiles(this)" style=" text-align: left; font-family: Monospace;">
    </div>
    <div>
        <table id="example" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>id</th>
                    <th>mf</th>
                    <th>mw</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>id</th>
                    <th>mf</th>
                    <th>mw</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

{% endblock %}