{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/jquery.dataTables.min.css"/>
{% endblock %}

{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Hello, {{ current_user.username }}!</h1>
            <h1 class="display-4">Welcome to Molecule Shopping Cart</h1>
            <p class="lead">Draw a molecule and search for analogs using SmallWorld.</p>
        </div>
    </div>
    <div id="jsme_container" style="float:left"></div>
    <div id="smiles_box_container" style="float:right" style="padding-left:40px">
        <table id="SmallWorldResults" align="center">
            {#<tr>
                    <td colspan="3" style="font-weight:bold;">Export chemical structure from applet:</td>
                </tr>#}
            <tr>
                <!--<td>
                 <button type="button" onclick='getMolfile(false);'>Get molfile</button>
                </td>
              <td>/
               <button type="button" onclick='getMolfile(true);'>Get molfile V3000</button>
              </td>
          -->
                <td>
                    <button type="button" onclick='getSmiles();'>Get smiles</button>
                </td>
                <td>
                    <button type="button" onclick='callSWMaps();'>Get maps list</button>
                </td>
                <td>
                    <button type="button" onclick='callSmallWorld();'>Call SmallWorld</button>
                </td>
                <td>
                    <button type="button" onclick='recoverStorage();'>Recover Data</button>
                </td>
                <td>
                    <button type="button" onclick='callSWView();'>Call SW View</button>
                </td>
                <td>
                    <button type="button" onclick='callSWExport();'>Call SW Export</button>
                </td>
                <button type="button" onclick='callSWConfig();'>Call SW Config</button>
                </td>
                <!--<td>
                 <button type="button" onclick='getJMEstring();'>Get JME string</button>
                </td>
          -->
            </tr>
            <tr>
                <td colspan="3">
                    <TEXTAREA id="jme_output" ROWS=15 COLS=80></TEXTAREA>
                </td>
            </tr>

        </table>

    </div>

    <div id="test_datatable">
        {#        <table id="example" class="display", style="width:85%">
{#            <thead>#}
        {#                <tr>#}
        {#                    <th>name</th>#}
        {#                    <th>prefix</th>#}
        {#                    <th>cfgPath</th>#}
        {#                    <th>numEntries</th>#}
        {#                    <th>numMapped</th>#}
        {#                </tr>#}
        {#            </thead>#}
        {#        </table>#}

        <table id="example" class="display" style="width:85%">
            <thead>
            <tr>
                <th>name</th>
                <th>prefix</th>
                <th>cfgPath</th>
                <th>numEntries</th>
                <th>numMapped</th>
                <th>numUnmapped</th>
                <th>numSkipped</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>name</th>
                <th>prefix</th>
                <th>cfgPath</th>
                <th>numEntries</th>
                <th>numMapped</th>
                <th>numUnmapped</th>
                <th>numSkipped</th>
            </tr>
            </tfoot>
        </table>

    </div>
{#    <script type="text/javascript"#}
{#            src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.slim.min.js') }}"></script>#}
    <!--<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                    "ajax": {
                        "url": "http://sw.docking.org/search/maps",
                        "dataType": "json",
                        "dataSrc": "1.anon",
                    },
                    "columns": [
                        {"data": "name"},
                        {"data": "prefix"},
                        {"data": "cfgPath"},
                        {"data": "numEntries"},
                        {"data": "numMapped"},
                        {"data": "numUnmapped"},
                        {"data": "numSkipped"}
                    ]
                }
            );
        });
    </script>

{% endblock %}
