{%  extends 'base.html' %}
{%  block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../static/js/datatables.min.js"></script>
<script src="../static/js/datatables.rowsGroup.js"></script>
<style>
    table,
    th,
    td {
        border: 1px solid black;
        padding: 8px;
    }

    table {
        border-collapse: collapse;
    }


    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    button,
    .button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        margin: 2px 2px;
        cursor: pointer;
    }

    /* The Modal (background) */
    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        padding-top: 100px;
        /* Location of the box */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
</style>



<!-- <a href="{{url_for('main.tsv')}}"><button>Export .tsv</button></a>
<button>Export2</button> -->
<table>
    <tr>
        <th>No</th>
        <th>Compound</th>
        <th>Identifier</th>
        <th>Database</th>
        <th>Suppliers</th>
        <!-- <th>Total Quantity</th>
        <th>Total Price</th> -->
        <th>Utility</th>
    </tr>
    {% for i in data %}
    <tr>
        <td>{{ loop.index }}</td>
        <td><img src={{ i.compound_img }}></td>
        <td>{{ i.identifier }}</td>
        <td> {{ i.database }}</td>

        <td>
            {% for v in i.vendors %}
            <ul>
                <li>{{v.cat_name}}--each pack has {{v.pack_quantity}}{{v.unit}} for {{v.price}}{{v.currency}}
                    added
                    {{v.purchase_quantity}} pack
                </li>
            </ul>
            {% endfor %}
        </td>
        <!-- <td>{{quantities[loop.index-1]}}</td> -->
        <!-- <td>{{prices[loop.index-1]}}</td> -->
        <!-- <td></td>
        <td></td> -->
        <td>
            <!-- <button id={{i.id}} onclick='deleteItem(this)'> Delete </button> -->
            <form action="{{ url_for('main.deleteItem', item_id=i.item_id) }}" method=post>
                <input type=submit value=Delete class="button">
            </form>

            <button id={{i.item_id}} identifier={{i.identifier}} onclick="openModal(this)">Update
                Vendor</button>

            {#                <button identifier={{i.identifier}} onclick='getVendors(this)'> Update Vendor </button>#}
            <!-- <button identifier={{i.identifier}} onclick='duplicate(this)'> Duplicate </button> -->
        </td>
    </tr>

    {% endfor %}

</table>
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <table id='chooseVendors'>
        </table>
    </div>


</div>
<script>
    var modal = document.getElementById("myModal");
    var span = document.getElementsByClassName("close")[0];
    span.onclick = function (e) {
        modal.style.display = "none";
        location.reload();
    }
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
            location.reload();
        }
    }
    function openModal(item) {

        $.getJSON('/vendorModal/' + item.id, (json_data) => {
            if (json_data == 'null') {
                alert('no vendors found')
            }
            else {
                //CLEARING TABLE AND DRAWING AGAIN 
                $('#chooseVendors').html('')
                let $tr = $('<tr>')
                $('<th>').html('No').appendTo($tr)
                $('<th>').html('Catalog name').appendTo($tr)
                $('<th>').html('Supplier code').appendTo($tr)
                $('<th>').html('Shipping').appendTo($tr)
                $('<th>').html('Price').appendTo($tr)
                $('<th>').html('Currency').appendTo($tr)
                $('<th>').html('Pack quantity').appendTo($tr)
                $('<th>').html('Unit').appendTo($tr)
                $('<th>').html('Purchase quantity').appendTo($tr)
                $('#chooseVendors').append($tr)

                //ADDING ROWS 
                $.each(json_data, (v, vendor) => {
                    let $tr = $("<tr>").attr('id', v);
                    $('<td>').attr('rowspan', vendor.packs.length + 1).html(v + 1).appendTo($tr);
                    $('<td>').attr('rowspan', vendor.packs.length + 1).html(vendor.cat_name).appendTo($tr);
                    $('<td>').attr('rowspan', vendor.packs.length + 1).html(vendor.supplier_code).appendTo($tr);
                    $('#chooseVendors').append($tr)
                    $.each(vendor.packs, (p, pack) => {
                        let $tr = $("<tr>").attr('id', v + '_' + p);
                        $('<td>').html(pack.shipping).appendTo($tr);
                        $('<td>').html(pack.price).appendTo($tr);
                        $('<td>').html(pack.currency).appendTo($tr);
                        $('<td>').html(pack.quantity).appendTo($tr);
                        $('<td>').html(pack.unit).appendTo($tr);
                        let $td = $('<td>')
                        $('<input>').attr('type', 'number').attr('value', pack.purchase_quantity).appendTo($td)
                        $td.appendTo($tr);
                        $('#chooseVendors').append($tr)
                    });

                })
                $('<button>').attr('onclick', 'vendorUpdate(' + item.id + ')')
                    .html('Choose')
                    .insertAfter('#chooseVendors')

                modal.style.display = "block";

            }

        })
        return false;
    }
    function vendorUpdate(item_id) {
        post_data = []
        let inputs = $('#chooseVendors').find('input')
        $.each(inputs, (i, input) => {
            if ($(input)[0].value > 0) {
                vendor_data = {}
                vendor_data.purchase_quantity = parseInt($(input)[0].value)
                let tr = $(input).parents()[1]
                let children = $(tr).children()
                vendor_data.shipping = $(children[0]).html()
                vendor_data.price = $(children[1]).html()
                vendor_data.currency = $(children[2]).html()
                vendor_data.quantity = $(children[3]).html()
                vendor_data.unit = $(children[4]).html()
                let id = $(tr)[0].id.split("_")[0]
                let tds = $($("#" + id)[0]).children()
                vendor_data.cat_name = $(tds[1]).html()
                vendor_data.supplier_code = $(tds[2]).html()
                post_data.push(vendor_data)
            }
        })
        $.ajax({
            type: "POST",
            url: '/vendorUpdate',
            data: JSON.stringify({ 'post_data': post_data, 'item_id': item_id }),
            contentType: "application/json",
            dataType: 'json',
            success: (res) => {
                console.log(res);
                modal.style.display = "none";
                location.reload();
            }
        });
    }

</script>


{%  endblock %}